<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- css -->
    <link rel="stylesheet" href="css/clique.css">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <!-- scripts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://mycloudcdn.com/graphics/skrollr/dist/skrollr.min.js"></script>
    <script src="js/vendor/include-media.min.js"></script>
    <script src="js/clique.js"></script>
  </head>
  <body>
    <div id="clique-app">
      <div id="skrollr-body"></div>
      <div id="header">
        <div class="header__info">
          <nav class="header__info__primary">
            <div @click="mobileMenu = true" class="header__info__primary__logo">
              <a href="#">Clique</a>
            </div>
            <ul :class="getMenuClass()">
              <li>
                <a href="#work">Work</a>
              </li>
              <li>
                <a href="#about">About Us</a>
              </li>
              <li>
                <a href="#about">Services</a>
              </li>
              <li>
                <a href="#university">Clique University</a>
              </li>
              <li>
                <a href="#careers">Careers</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
              <li  @click="mobileMenu = false" class="header__info__primary__links--close">&times</a>
            </ul>
          </nav>
          <div class="header__info__secondary">
            <span class="header__info__secondary__phone">
              312-379-9329
            </span>
          </div>
        </div><!--end header__info-->
        <div class="header__callout">
          <p>
            An award-winning <span class="callout__tag">Digital Strategy</span>, <span class="callout__tag">Design</span>,<br>
            <span class="callout__tag">Engineering</span> and <span class="callout__tag">Marketing</span> firm.
          </p> 
          <div class="header__callout__text">
            <span>Build Something</span>
          </div>
        </div><!-- end header__callout -->
        <div class="header__action">
          <i class="fas fa-arrow-down"></i>
        </div>
      </div><!-- end header -->
      <div class="callout">
        <h1 class="callout__statement">We believe the work is what matters.</h1>
        <p>Here is some of ours.</p>
      </div>
      <!-- start work sections -->
      <template v-if="works">
        <clique-work :work="works.lincoln" @mounted="workMounted">
          <img class="clique__evidence lincoln-evidence" src="img/lincoln-evidence.png" data-950="transform: translate(0px, 300px);" data-1100="transform: translate(0px, 0px);">
        </clique-work>
        <clique-work :work="works.kendall" @mounted="workMounted">
          <img class="clique__evidence" src="img/kendall-evidence-ipad.png" style="transform: translate(-50px, 200px);">
          <img class="clique__evidence" src="img/kendall-evidence-iphone.png" :style="{'z-index': '2', 'transform': 'translate(300px, -200px)'}">
        </clique-work>
        <clique-work :work="works.first" @mounted="workMounted">
          <img class="clique__evidence" src="img/first-evidence-3.png" style="transform: translate(300px, 100px);">
          <img class="clique__evidence" src="img/first-evidence-2.png" style="transform: translate(150px, 100px);">
          <img class="clique__evidence" src="img/first-evidence-1.png" style="transform: translate(0px, 100px);">
        </clique-work>
        <clique-work :work="works.cnec" @mounted="workMounted">
          <img class="clique__evidence lincoln-evidence" src="img/cnec-evidence-2.png" data-800="transform: translate(0px, 300px);" data-1100="transform: translate(0px, 0px);">
        </clique-work>
        <clique-work :work="works.melting" @mounted="workMounted">
          <img class="clique__evidence" src="img/melting-evidence.png" style="height: 800px;transform: translate(100px, 300px);">
        </clique-work>
        <clique-work :work="works.special" @mounted="workMounted">
          <img class="clique__evidence" src="img/special-evidence.png" style="transform: translate(-400px, 30px);">
        </clique-work>
        <clique-work :work="works.lori" @mounted="workMounted">
          <img class="clique__evidence" src="img/lori-evidence-2.png" style="transform: translate(150px, 100px);">
          <img class="clique__evidence" src="img/lori-evidence-1.png" style="transform: translate(0px, 100px);">
        </clique-work>
        <clique-work :work="works.retrofit" @mounted="workMounted">
          <img class="clique__evidence" src="img/retrofit-evidence-1.png" style="transform: translate(0px, 100px);">
        </clique-work>
        <clique-work :work="works.viva" @mounted="workMounted">
          <img class="clique__evidence" src="img/viva-evidence.png" style="transform: translate(0px, 100px);">
        </clique-work>
      </template>
      <div class="more">
        <div class="more__company" v-for="company in works.more">
          <div class="more__company__overlay"></div>
          <img :src="'img/more/' + company + '.png'">
        </div>
        
      </div>
      <div class="talk">
        <h1>Talk to a real person.</h1>
        <div class="talk__links">
          <a href="#">312-379-9329</a>
          <a href="#">Message Us</a>
        </div> 
      </div>
      <div class="footer">
        <ul class="footer__text">
          <li>&#169; 2015 Clique Studios, LLC.</li>
          <li><i class="fas fa-phone"></i> 312-379-9329</li>
          <li><i class="fas fa-map-marker-alt"></i> 410 S Michigan Ave, Suite 908, Chicago, IL 60605
        </ul>
        <ul class="footer__media">
          <li>
            <a href="#"><img src="img/icons/fb.png"></a>
          </li> 
          <li>
            <a href="#"><img src="img/icons/yt.png"></a>
          </li> 
          <li>
            <a href="#"><img src="img/icons/flickr.png"></a>
          </li> 
          <li>
            <a href="#"><img src="img/icons/twitter.png"></a>
          </li> 
          <li>
            <a href="#"><img src="img/icons/linkedin.png"></a>
          </li> 
        </ul>
      </div>
    </div>
    <script>
      CliqueDemo.init({ el: '#clique-app'});
    </script>
  </body>
</html>
