@import 'layout';
@import 'fonts';
@import 'colors';

@mixin tag {
  background-color: rgba(255,255,255,.3);
  border-radius: 3px;
  padding: .5em;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: $fs-medium;
  color: $primary-font-color;
}

#header {
  @include section-layout;
  min-height: 100%; 
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__info__primary {
  display: flex;
}

.header__info__primary__links {
  @include layout-reset;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__info__primary__links li {
  @include declare;
  margin: 0px 30px;
}

.header__info__primary__links li a {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: $fs-small;
  font-weight: bold;
  text-decoration: none;  
}

.header__info__primary__links li a:after {
  @include animated-link;
  background-color: $brand-color;
}
.header__info__primary__links li a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.header__info__primary__links--close {
  display: none;
}

.header__info__primary__menu {
  @include flex-center;
  font-size: $fs-large;
//  display: none;
}

.header__info__primary__logo {
  @include flex-center;
  @include declare;
  background-color: $brand-color;
  min-width: 110px;
  min-height: 110px;
  max-width: 110px;
  max-height: 110px;
  font-size: $fs-logo;
  font-weight: bold;
  z-index: 9;

}
.header__info__primary__logo a {
  text-decoration: none;
  color: $primary-font-color;
}

.header__info__secondary {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  z-index: 9;
}

.header__info__secondary__phone {
  @include accent-text;
  @include tag;
  color: $primary-font-color;
  font-size: $fs-medium;
}
.header__callout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 140px 0px 140px;
  height: 360px;
  height: 50%;
  font-size: $fs-xxlarge;
  color: $primary-font-color;
  @include accent-text;
}
.header__callout span.callout__tag {
  @include body-text;
  @include tag;
  @include declare;
  font-size: 30px;;
  font-weight: bold;
  padding: .3em;
}
.header__callout__text {
  @include body-text;
  @include declare;
  font-weight: bold;
  font-size: $fs-large;
}
.header__callout__text span {
  padding-bottom: .4em;
  border-bottom: 2px solid $primary-font-color;
}

.header__action {
  @include flex-center;
  height: 20vh;
  padding: 0px 140px 0px 140px;
  font-size: $fs-large;
  justify-content: flex-start;
  align-items: center;
}
.header__action svg {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $primary-font-color;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    margin-top: -5px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
    margin-top: -5px;
  }
}

@import 'media';
