@import 'layout';
@import 'fonts';
@import 'colors';

@mixin tag {
  background-color: rgba(255,255,255,.3);
  border-radius: 3px;
  padding: .5em;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x:hidden;
  font-size: $fs-medium;
  color: $primary-font-color;
}

#header {
  height: 650px;
  min-height: 100%; 
  background-image: url('../img/header.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__info__primary {
  display: flex;
}

.header__info__primary__links {
  @include layout-reset;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__info__primary__links li {
  @include declare;
  margin: 0px 30px;
}

.header__info__primary__links li a {
  color: $primary-font-color;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: $fs-small;
  font-weight: bold;
  text-decoration: none;  
}

.header__info__primary__links li a:after {
  @include animated-link;
  background-color: $brand-color;
}
.header__info__primary__links li a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.header__info__primary__links--close {
  display: none;
}

.header__info__primary__menu {
  @include flex-center;
  font-size: $fs-large;
//  display: none;
}

.header__info__primary__logo {
  @include flex-center;
  @include declare;
  background-color: $brand-color;
  min-width: 110px;
  min-height: 110px;
  max-width: 110px;
  max-height: 110px;
  font-size: $fs-logo;
  font-weight: bold;
  z-index: 9;

}
.header__info__primary__logo a {
  text-decoration: none;
  color: $primary-font-color;
}

.header__info__secondary {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  z-index: 9;
}

.header__info__secondary__phone {
  @include accent-text;
  @include tag;
  color: $primary-font-color;
  font-size: $fs-medium;
}
.header__callout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 140px 0px 140px;
  height: 360px;
  height: 50%;
  font-size: $fs-xxlarge;
  color: $primary-font-color;
  @include accent-text;
}
.header__callout span.callout__tag {
  @include body-text;
  @include tag;
  @include declare;
  font-size: 30px;;
  font-weight: bold;
  padding: .3em;
}
.header__callout__text {
  @include body-text;
  @include declare;
  font-weight: bold;
  font-size: 32px;
}
.header__callout__text span {
  padding-bottom: .4em;
  border-bottom: 2px solid $primary-font-color;
}

.header__action {
  @include flex-center;
  height: 20vh;
  padding: 0px 140px 0px 140px;
  font-size: $fs-large;
  justify-content: flex-start;
  align-items: center;
}
.header__action svg {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid $primary-font-color;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    margin-top: -5px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
    margin-top: -5px;
  }
}

.callout {
  @include callout-layout;
  @include accent-text;
  background-color: white;
  color: #333;
  display: flex;
  padding-left: 180px;
  flex-direction: column;
  justify-content: center;
}
.callout__statement {
  font-weight: normal;
  font-size: 48px;
  margin: 0;
}

.callout p {
  font-size: 24px;
}

.work {
  display: flex;
  @include section-layout;
}
.work__details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.work__details__header {
  height: 410px;
  display: flex;
  margin-left: 150px;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

.work__details__header__title {
  @include body-text;
  font-size: 60px;
}
.work__details__body {
  padding: .3em 0;
  margin-left: 150px;
}
.work__details__body__desc {
  @include accent-text;
  font-size: $fs-reg;
}
.work__details__body__view {
  @include flex-center;
  @include declare;
  @include body-text;
  letter-spacing: .2em;
  margin-top: 2em;
  font-color: $primary-font-color;
  border: 1px solid white;
  border-radius: 4px;
  padding: 1em .5em; 
  //TODO: get actual width;
  width: 200px;
  font-weight: bold;
}

.work__evidence {
  position: relative;
}

.clique__evidence {
  display: flex;
  position: absolute;
  bottom: 0;
}

.lincoln-evidence {
  margin-bottom: -80px;
}
.more {
  z-index: 3;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
}
.more__company { 
  margin: 0px 2px 2px 2px;
  position: relative;
}
.more__company__overlay {
  z-index:2;
  width: 100%;
  height: 100%;
  position: absolute; 
  background-color: rgba(255,255,255,.8);
}
.more__company:hover .more__company__overlay {
  background-color: transparent;
}
.talk {
  height: 400px;
  background-image: url('../img/icons/talkbg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include flex-center;
  flex-direction: column;
}
.talk h1 {
  color: #333;
  font-weight: normal;
  font-size: 48px;
  @include accent-text;
}
.talk__links {
  display: flex;
}
.talk__links a {
  @include flex-center;
  @include declare;
  @include body-text;
  letter-spacing: .2em;
  margin: .5em;
  color: $brand-color;
  border: 1px solid $brand-color;
  border-radius: 4px;
  padding: 1em .5em; 
  //TODO: get actual width;
  width: 200px;
  font-weight: bold;
  text-decoration: none;
}
.footer {
  height: 200px;
  padding: 10px;  
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__text, .footer__media {
  list-style-type: none;
  display: flex;
  color: #767676;
  font-size: 13px;
}
.footer__text li {
  margin-left: 2em;
}
.footer__media li {
  margin-right: .4em;
}

@import 'media';
