@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin callout-layout {
  height: 400px;
}
@mixin section-layout {
  /*min-height: 515px;*/
  height: 700px;
}
@mixin layout-reset {
  margin: 0;
  padding: 0;
}

/* Header Banner */



/* Sections */


