@media (min-width: 320px) {
  body::after {
    content: '{"phone":{"value": "320px", "active": true}, "tablet":{"value": "768px", "active": false}, "desktop":{"value": "1024px", "active": false}}';
    display: block;
    height: 0;
    overflow: hidden;
    width: 0; } }

@media (min-width: 768px) {
  body::after {
    content: '{"phone":{"value": "320px", "active": true}, "tablet":{"value": "768px", "active": true}, "desktop":{"value": "1024px", "active": false}}';
    display: block;
    height: 0;
    overflow: hidden;
    width: 0; } }

@media (min-width: 1024px) {
  body::after {
    content: '{"phone":{"value": "320px", "active": true}, "tablet":{"value": "768px", "active": true}, "desktop":{"value": "1024px", "active": true}}';
    display: block;
    height: 0;
    overflow: hidden;
    width: 0; } }

/* Header Banner */
/* Sections */
html, body {
  font-family: 'Open Sans', sans-serif; }

/* test */
@media (max-width: 768px) {
  .header__info__primary {
    background-color: #f88601; }
  .header__info__primary__links {
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding-top: 110px;
    background-color: #f88601;
    display: none; }
  .header__info__primary__links--active {
    display: flex; }
  .header__info__primary__links li {
    padding: 15px 0;
    margin: 0;
    width: 100%;
    background-color: #f88601;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__info__primary__links li a {
    height: 100%;
    margin: .7em 30px; }
  .header__info__primary__links li a:after {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white; }
  .header__info__primary__links--close {
    display: flex;
    font-size: 40px;
    cusor: pointer; }
  .header__callout, .header__action {
    width: 90%;
    padding: 0;
    margin: 0 auto;
    font-size: 30px; }
  .header__callout span.callout__tag {
    font-size: 20px; } }
